.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mainform{
  margin: -10px -10px -10px -10px ;
  text-decoration: none;
  background-color: rgb(210, 236, 236);
  border: 2px solid black;
  float: left;
  font-size: 30px;
  width: 100%;
  height: 100px;
  margin: 0px 0px 0px 0px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mainform a{
  margin: 10px 50px 10px 10px;
  text-decoration: none;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mainform input{
  width: 700px;
  height: 60px;
  border-radius: 40px;

  font-size: 30px;
  margin: 20px 100px 20px 360px;
  border: 2px solid rgb(2, 2, 2);
}
.main{
  margin: 50px 50px 50px 50px;
  display: grid;
  grid-template-columns: 670px 670px 670px;
  width:90%;
  
  height: auto;
    border-radius: 10px;
  
}
body{
  background-color: #effffe;
}
.elements{
  width: 620px;
  background-color: rgb(227, 243, 243);
  height: 700px;
  border:10px  black;
  border-radius: 15px;
  margin: 20px 5px 20px 135px;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.elements img{
  margin: 20px 20px 20px 10px;
  width: 600px ;
  height: 450px;
  border-radius: 15px;
}
/* Add this to your App.css or create a new CSS file and import it */

.pagination {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: white;
  margin-top: 30px;
}

.pagination button {
  background-color: #0080ff;
  color: white;
  border: none;
  padding: 1px 15px;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 10px;
  width: 65px;
}

.pagination button:hover {
  background-color: #f5ffe6;
}

.pagination span {
  padding: 10px;
  font-weight: bold;
}
.app{
  background-color: #d1e1e1;
  border: 2px solid black;
  border-radius: 10px;
}
body{
  padding: 0;
  margin: 0;
}
.rent button{
  width: 100px;
  height: 50px;
  background-color: rgb(0, 166, 255);
  border:2px #282c34;
  border-radius: 10px;
  font-size: 35px;
}